h1 {color:blue;
    font-size: 48px; 
    text-decoration: underline;}
  
    h2 {color:blue;
    font-size: 36px; }
  
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }